body{ margin:0px; padding:0px; font-size:12px; background:#efefef;}
ul,li,ol{ list-style:none; margin:0px; padding:0px;}
img,table{border:0px;}

.framework{ width:99%; height:100%; margin-top:10px;}
.framework td{ padding-left:5px; vertical-align:top;}
.leftMenu{width:174px;}
.TopTitle{ float:left;width:100%;}
.TopTitle span{height:20px; line-height:20px; float:left; margin-right:5px; font-weight:bold}
.TopTitle select{ margin-left:30px;}
.TopTitle div{ float:right;}
.TopTitle_note{ color:#777777; font-weight:normal; margin-left:5px;}
.TopTitle_note b{ color:#f76300; }
.Ic_001,.Ic_002,.Ic_003,.Ic_004{ background:url(../images/controlPanel/Ic_001.gif) no-repeat left center; padding-left:20px; height:16px; line-height:16px; text-decoration:none; color:#000; margin-right:18px; float:left; width:auto}
.Ic_002{ background:url(../images/controlPanel/Ic_002.gif) no-repeat left center;}
.Ic_003{ background:url(../images/controlPanel/Ic_003.gif) no-repeat left center;}
.Ic_004{ background:url(../images/controlPanel/Ic_004.gif) no-repeat left center;}
.LeftBorder{border:1px solid #b4b4b4; float:left;width:172px; margin-top:5px; height:auto; background:#fff; padding-bottom:20px;border-right: 1px solid #b4b4b4;}

.New_search{ float:left; width:154px; margin:10px; _margin:5px;}
.New_search div{ float:left; width:100%; height:26px; line-height:26px;}
.New_search div button{ background:url(../images/controlPanel/Add.gif) no-repeat left center; height:26px; line-height:26px; padding-left:13px;_padding-left:3px; border:0px; float:left;}
.New_search div a{ float:right; text-align:right; width:auto; display:block; text-decoration:none; color:#787878;}
.search_text{ height:20px; line-height:20px; color:#c0c0c0; border:0px; vertical-align:middle; border-top:1px solid #bbbbbb; border-left:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb; width:130px;}
.search_button{ height:24px; vertical-align:middle; border:0px; border-top:1px solid #bbbbbb; border-right:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb; width:20px; background:url(../images/controlPanel/search.gif) center}

._list,.LeftMenu_list li,.LeftMenu_list li ul,.LeftMenu_list li ul li{ width:100%; float:left;}
.LeftMenu_list li{ background:url(../images/controlPanel/leftMenu_bg.gif) repeat-x; line-height:33px; border-top:1px solid #b4b4b4;}
.LeftMenu_list li ul{ border-top:2px solid #e9e9e9; float:left; width:100%; margin-bottom:30px; }
.LeftMenu_list li ul li{ background:#fff; border:0px; margin-left:20px; width:auto; float:none; height:24px; line-height:24px;}
.on,.off,.up_inod_01,.up_inod_02,.up_inod_03{ background:url(../images/controlPanel/leftMenu_on.gif) left center no-repeat; font-weight:bold; margin-left:10px; width:auto; padding-left:8px; float:left;}
.off{ background:url(../images/controlPanel/leftMenu_off.gif) left center no-repeat; padding-left:6px;}

.control li ul{ margin-bottom:10px; padding-top:10px;}
.control li ul li{ background:url(../images/controlPanel/inod.gif) no-repeat left center; padding-left:10px; margin-left:14px;}
.up_inod_01{background:url(../images/controlPanel/controlPanel/up_inod_01.gif) left center no-repeat;padding-left:12px;}
.up_inod_02{background:url(../images/controlPanel/up_inod_02.gif) left center no-repeat;padding-left:12px;}
.up_inod_03{background:url(../images/controlPanel/up_inod_03.gif) left center no-repeat;padding-left:12px;}

.data_list{width:100%;border:1px solid #b4b4b4; float:left;margin-top:5px; height:auto; background:#fff;}
.data_list table{ width:100%; float:left;}
.data_list table thead tr td{ background:url(../images/controlPanel/data_list_head_bg.gif); height:33px; line-height:33px;}
.data_list table tbody tr td{ height:33px; line-height:33px;}
.data_list div{ text-align:center; width:100%; height:234px; line-height:140px; background:url(../images/controlPanel/no_data_bg.gif) no-repeat center; float:left; margin-top:20px; margin-bottom:20px;}

.data{width:100%;border:1px solid #b4b4b4; float:left;margin-top:5px; height:auto; background:#fff url(../images/controlPanel/data_list_head_bg.gif) repeat-x left top;}
.data_title{background:url(../images/controlPanel/data_list_head_bg.gif) repeat-x left top; height:33px; line-height:33px; margin-left:15px; float:left;}
.column_a,.column_b{ background:url(../images/controlPanel/column_a.gif) no-repeat left center; height:16p; padding-left:20px;}
.column_a span,.column_b span{ color:#707070;}
.column_b{ background:url(../images/controlPanel/column_b.gif) no-repeat left center;}
.column_title{background:url(../images/controlPanel/data_list_head_bg.gif) repeat-x left top; height:33px; line-height:33px; float:left; width:100%;border-top:1px solid #b4b4b4;}
.column_title div{ margin-left:15px; float:left; }

.control_list{ font-weight:bold;}

.flowsheet,.column{ width:100%; margin:15px 0px 15px 0px;}
.flowsheet tr td{ height:57px; padding:0px 10px 0px 10px;}
.flowsheet tr td a{ background:url(../images/controlPanel/Edit_icon.gif) no-repeat left center; width:100%; height:27px; line-height:27px; padding-left:12px; font-weight:bold; color:#313131; text-decoration:none;}
.flowsheet tr td div{width:100%; float:left; height:25px; line-height:25px; color:#313131;}
.flowsheet tr td div span{ margin-right:25px; float:left;}
.flowsheet tr td div div{ float:right; width:auto;}
.flowsheet tr td div div input{ margin:0px 5px 0px 5px;}

.column{ float:left;}
.column li{ float:left; width:50%; height:32px; line-height:32px;}
.column li label{ text-align:right; width:100px; margin:0px 5px 0px 5px; vertical-align:middle; float:left;}
.column li span{ vertical-align:middle; margin-right:10px;}
.column li input{ vertical-align:middle;}

.arrange_popup{width:645px; height:337px; position:absolute; top:200px; left:50px; float:left; background:#d7d7d7;}
.arrange_popup_centre{width:617px; height:309px; border:1px solid #c3c2c2; background:#fff; margin-left:3px; margin-top:3px; padding:10px;}
.arrange_popup_title{ float:left; width:100%; height:26px; line-height:22px; border-bottom:1px solid #d7d7d7;}
.arrange_popup_title span{ float:left; font-weight:bold;}
.arrange_popup_title label{ float:left; vertical-align:middle; margin-left:20px;}
.arrange_popup_title div{ float:left; vertical-align:middle; margin-right:10px;}
.arrange_popup_title div input{ float:left; vertical-align:middle;}
.arrange_popup_content{ float:left; width:144px; margin:10px 10px 0px 0px}
.arrange_popup_content div{width:100%; text-align:center; height:22px; line-height:22px;}
.arrange_popup_content ul{ background:#f5f5f5; border:1px solid #d0d0d0; width:100%; height:240px; overflow:auto;}

.arrange_popup_close{position:absolute; top:0px; right:0px; background:url(../images/controlPanel/C_W.gif);width:19px; height:19px; float:left;}

.bu_01{background:url(../images/controlPanel/bu_01.gif);width:43px; height:24px; border:0px;}
.bu_02{background:url(../images/controlPanel/bu_02.gif);width:60px; height:24px; border:0px; text-align:center; margin:0px; padding:0px;}
