#daynav {
	font-size:12px;
	width:450px;
	height:110px;
	overflow:hidden;
}
#daybody {
	float:left;
	border-top:1px solid #ccc;
	border-bottom:1px dashed #CCCCCC;
}
#dayTitle {
	height:20px;
	float:left;
	font-size:14px;
	color:#0066CC;
}
#dayTitle span {
	float:right;
	font-size:12px;
}
#daybody {
	padding-top:5px;
	height:90px;
	color:#57543C;
}
#daybody  ul{
margin:0px;
padding:0px;
}
#daybody  ul li {
	height:20px;
	line-height:20px;
}