body,h1,h2,h3,h4,h5,h6,hr,p,ul,ol,li,pre,form,fieldset,button,input,nav {margin:0;padding:0;}
body{font:normal 12px/1.5 Microsoft Yahei;color:#333;-webkit-tap-highlight-color:-webkit-tap-highlight-color;overflow-x:hidden;}
em,i{font-style:normal;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
.ow-h{overflow:hidden;}
.lf{float:left;display:inline-block;}
.bg-icons{background-image:url(/style/images/item/icons.png);background-repeat:no-repeat;}
.triangle{width:0;height:0;font-size:0;line-height:0;position:absolute;border-color:#bbb transparent transparent;border-style:solid dashed dashed;border-width:5px 4px 0;}
.icons{background-image:url(/style/v7/images/mail-icons.png);background-repeat:no-repeat;}
.btn-s{padding:2px 8px;border:1px #e1e1e1 solid;border-radius:3px;cursor:pointer;}
.btn-s:hover{background:#f2f2f2;}
.btn-w{background:url(/style/v7/images/btn-bg-w.png) repeat-x 0 0;display:inline-block;height:26px;line-height:28px;padding:0 12px;border:1px solid #bbb;border-radius:3px;cursor:pointer;color:#000;}
.btn-w:hover{border:1px #666 solid;}
.btn-b{background:url(/style/v7/images/btn-bg-b.png) repeat-x 0 0;display:inline-block;height:26px;line-height:28px;padding:0 12px;border:1px solid #459830;border-radius:3px;cursor:pointer;color:#fff;}
.btn-b:hover{border:1px #039 solid;}

.top-btns{padding:10px;border-bottom:1px #e0e0e0 solid;height:25px;}
.top-btns>span{float:left;margin:0 5px 0 0;}
.email-body{position:relative;overflow:auto;}
.email-body-lf{margin-right:220px;}

.d-mail{float:left;display:inline-block;padding:0 12px 0 0;position:relative;margin:4px 0 0 0;font-family:ו;cursor:pointer;position:relative;}
.d-mail .ul-mail{background:#fff;padding:5px;border:1px #bbb solid;position:absolute;z-index:99;border-radius:3px;display:none;min-width: 100px;}
.d-mail .ul-mail>li{text-align:center;line-height:25px;white-space:nowrap;}
.d-mail .ul-mail>li:hover{background:#f2f2f2;}
.d-mail .triangle{position:absolute;right:0;top:7px;}

.body-lf-head{padding:5px 0;}
.body-lf-head .fa{padding:0 0 0 65px;position:relative;margin-bottom:5px;}
.body-lf-head .fa>b{position:absolute;display:inline-block;top:5px;cursor:pointer;}
.body-lf-head .fa>b.add-geren{width:18px;height:17px;right:30px;background-position:-5px -50px;}
.body-lf-head .fa>b.add-geren:hover{background-position:-26px -50px;}
.body-lf-head .fa>b.add-bumen{width:19px;height:19px;right:0;background-position:-5px -76px;}
.body-lf-head .fa>b.add-bumen:hover{background-position:-26px -76px;}
.body-lf-head .fa>span{ display:inline-block;margin:5px 5px 0 0;cursor:pointer;padding:1px 3px;color:#039;}
.body-lf-head .fa>span:hover{background:#039;color:#fff;border-radius:3px;}
.body-lf-head .fa>em{position:absolute;left:0;top:5px;width:55px;text-align:right;}
.body-lf-head .fa>em.f-c{color:#039;}
.body-lf-head .fa .d-txt{border:1px #bbb solid;border-radius:3px;min-height:27px;width:100%;}
.d-txt .title-ipt{border:0;width:100%;outline:0;height:26px;padding:0 5px;box-sizing:border-box;}
.d-txt-area{margin-left: 20px;}
.d-txt-area .txt-area{width:100%;height:120px;border:1px #bbb solid;border-radius:3px;}
.txt-area-btns{padding:5px 0;}
.txt-area-btns>span{float:left;display:inline-block;margin-right:5px;}

.right-kb{width:190px;position:absolute;right:10px;top:10px;overflow:hidden;z-index:1;height:auto;border:1px #c0c0c0 solid;border-radius:3px;height:95%;}
.right-kb>p{text-align:center;padding:7px 0;border-radius:2px;cursor: pointer;width:50%;float: left;}
.right-kb .p2{border-left: 1px solid #ddd;margin-left:-1px;}
.p_bg{background:-webkit-linear-gradient(top,#fff,#f5f5f5);border-bottom:1px solid #ddd;}
#div_p1{clear:both;}
#div_p2{clear:both;}

.body-lf-head .fa>span.add-file-span{padding:0 0 0 20px;position:relative;}
.add-file-span>.bg-icons{width:16px;height:14px;background-position:-204px -219px;display:inline-block;position:absolute;left:2px;top:2px;}
.d-search{position:relative;height:50px;width:100%;}
.d-search .s-ipt{position:absolute;top:12px;left:6px;border:1px solid #bbb;border-radius:3px;padding:3px 8px;}
.d-search .s-ipt .ipt{width:130px;border:0;padding-right:10px;outline:0;height:17px;}
.d-search .s-ipt .b-s{width:13px;height:13px;background-position:-7px -28px;display:inline-block;position:absolute;right:5px;top:5px;cursor:pointer;}
.d-search .s-ipt .b-s:hover{background-position:-28px -28px;}
.d-search .b-a{width:12px;height:12px;background-position:-7px -6px;display:inline-block;position:absolute;right:7px;top:18px;cursor:pointer;}
.d-search .b-a:hover{background-position:-28px -6px;}
.tree-u{padding:0 0 10px 0;overflow-y:auto;float:left;width:100%;}
.tree-u>li{line-height:25px;padding:0 10px 0 20px;cursor: pointer;position:relative;}
.tree-u>li>.bg-icons{width:17px;height:16px;position:absolute;right:5px;top:3px;background-position:-73px -256px;display:none;}
.tree-u>li>.bg-icons:hover{background-position:-112px -256px}
.tree-u>li:hover{background:#f2f2f2;}
.tree-u>li:hover>.bg-icons{display:inline-block;}

.textboxlist-bits{border: 0px;}
.tree-u li a{cursor:pointer;}
.li_more{text-align: center; color: blue;border-top:1px #D5CFCF solid; }
.li_clientMore{text-align: center; color: blue;border-top:1px #D5CFCF solid; }

.update-file-li{padding:0 0 0 20px;position:relative;line-height:21px;color:#666;}
.update-file-li b.icons{width:10px;height:9px;position:absolute;display:inline-block;left:6px;top:6px;background-position:-50px -8px;}
.update-file-li>em{color:red;cursor:pointer;padding:0 10px;}

#navigation{padding: 0px 10px;overflow-y:auto;float:left;width:90%;}
.client_li{padding:2px 0 2px 20px;position:relative;}
#navigation>li>b.icons{width:10px;height:10px;background:url(/style/v7/images/menu-icons.png) no-repeat 0 -119px;display:inline-block;position:absolute;left:3px;top:5px;}
.br-bottom{border-bottom:1px #eee solid;padding:2px 0 2px 20px;position:relative;}


.ul_address li:hover{text-decoration:underline;color:#4682be;}
.ul_address li{line-height:25px;white-space: nowrap;cursor:pointer;}
.client_li li:hover{text-decoration:underline;color:#4682be;}
.client_li li{line-height:25px;white-space: nowrap;cursor:pointer;}