/*page bar*/
div.scott {float:right;PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center;margin:3px 50px 0px 0px;}
div.scott a {BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 1px solid; COLOR: #88af3f; MARGIN-RIGHT: 2px; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none}
div.scott a:hover {BORDER-RIGHT: #85bd1e 1px solid; BORDER-TOP: #85bd1e 1px solid; BORDER-LEFT: #85bd1e 1px solid; COLOR: #638425; BORDER-BOTTOM: #85bd1e 1px solid; BACKGROUND-COLOR: #f1ffd6}
div.scott a:active {BORDER-RIGHT: #85bd1e 1px solid; BORDER-TOP: #85bd1e 1px solid; BORDER-LEFT: #85bd1e 1px solid; COLOR: #638425; BORDER-BOTTOM: #85bd1e 1px solid; BACKGROUND-COLOR: #f1ffd6}
div.scott span.current {BORDER-RIGHT: #b2e05d 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b2e05d 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: #b2e05d 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 3px; BORDER-BOTTOM: #b2e05d 1px solid; BACKGROUND-COLOR: #b2e05d}
div.scott span.disabled {BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f3f3f3 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid}
div.scott input{width:20px;border:1px solid #d5d5d5;text-align:center;}
div.scott .page-number{margin-left:5px;color:#88af3f;}
div.scott .page-number a{padding:2px 4px 2px 2px;}
div.scott select{margin-left:7px;}
.search_popup {width: 460px;z-index: 99;margin:-200px 0px -200px -220px;border: #808080 1px solid;float: left;height:80%;position: absolute;top: 45%;left: 50%;background: #fff;display: none;-webkit-box-shadow: #666 0px 0px 10px;;-moz-box-shadow: #666 0px 0px 10px;;box-shadow: #666 0px 0px 10px;}
.search_popup div {width: 420px;;_width: 110%;height: 28px;line-height: 28px;padding-left: 9px;;background: url(../images/oaimages/pop-up_tite.gif);}
.search_popup thead input{border: #b4b4b4 1px solid;margin-top: 5px;height:20px;min-width:40px;}
.tdDes1{text-align: right;padding-right: 8px;}
.tdDes2{text-align: left;}
.tdDes3{text-align: center;}
.search_popup table div{padding-left: 0px;background: none;width: auto;font-weight: normal;border: 1px solid #b4b4b4;padding: 0px 0px 5px 10px;height: auto;}
.search_popup ul {width: 400px;height: auto;}
.search_popup ul li {width: 40px;height: 25px;float: left;}
.search_popup ul li select {width: 120px;}
.search_popup_bu {width: 100%;height: 30px;float: left;;text-align: center;margin-top: 20px;}
.bu_1 {width: 62px;height: 19px;background: url(../images/oaimages/search.gif);margin: 0px 5px 0px 5px;border: 0px;cursor: pointer;}
.leftMenu_bgB{background:url(/style/images/left_menu_bg.jpg) no-repeat 0px 0px;height:26px; line-height:26px; text-align: left;}
.bu_2 {width: 48px;height: 19px;background: url(../images/oaimages/close.gif);margin: 0px 5px 0px 5px;border: 0px;cursor: pointer;}
.bu_3{background: url(../images/oaimages/QK.gif);cursor: pointer;width: 48px;margin: 0px 5px 0px 5px;border: #b4b4b4 1px solid;color: #FFFFFF;height:19px;}
.bu_4{background: url(../images/oaimages/design.png);cursor: pointer;width: 50px;margin: 0px 5px 0px 20px;color: #FFFFFF;}
.ico_4 {width: 16px;height: 16px;float: left;;background: url(../images/oaimages/Icons.gif) no-repeat -27px 0px;margin: 2px 0px 0px 3px;}
.search_text{ height:22px; line-height:20px; color:#c0c0c0; border:0px; vertical-align:middle; border-top:1px solid #bbbbbb; border-left:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb; width:130px;}
.search_button{ height:24px; vertical-align:middle; border:0px; border-top:1px solid #bbbbbb; border-right:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb; width:20px; background:url(../images/oaimages/search2.gif) center}
.querydiv1{text-align: center;width: 100%;	height: 234px;line-height: 140px;	background: url(/style1/images/workflow/no_data_bg.gif) no-repeat center;float: left;margin-top: 20px;margin-bottom: 2px;}
.data_list_head thead tr td{ background:url(../images/workflow/data_list_head_bg.gif); height:25px; line-height:25px;white-space: nowrap;}
.op ,.op .a ,.op .c ,.lp ,.lp .a ,.lp .c ,.lp2 ,.lp2 .a ,.lp2 .c ,.sbtn,.sbtn .a ,.sbtn .c ,.pagetitle .inpsearch_btn 
{background:transparent url(/style/images/client/bg.gif) no-repeat scroll 1000px 1000px ;}
.op {float:right;margin:3px;background-position:-2px -304px; background-repeat: repeat-x;height:24px;_width:67px;cursor:pointer;}
.op .a {float:left;width:5px;height:24px; overflow:hidden;background-position:0px -337px; color:#333;}
.op .c {float:right;width:5px;height:24px; overflow:hidden;background-position:-10px -337px; }
.op a {margin:0px 3px 0px;_margin-top:2px;_width:48px;float:left;overflow:hidden;display:block;text-align:center}
.op a{color:#333}
.sbtn110 {width:95px;float:left;}
.sbtn41 {width:41px;float:left;}
.sbtn63 {width:66px;float:left;}
.sbtn72 {width:72px;float:left;}
.titlediv{width:200px;float: left;margin: 10px 0px 5px 30px;}
.btndiv{float: right;padding-bottom: 2px;margin: 10px 10px 10px 10px;}
*{padding:0px 0px 0px 0px}
.rt_table3 {overflow:auto;width:98%;margin-left: 10px;}
.rt_table3 table  {border-top:1px solid #808080;border-left:1px solid #808080;}
.rt_table3 table thead tr td {white-space: nowrap;}
.rt_table table thead td,.rt_table3 table thead td { border:1px solid #808080; background:url(/style/images/client/reportBgColor.png) left bottom repeat-x;font-size:12px;}
rt_table3 td {border:1px solid #c8c8c8; border-top-color:#FFF;border-left-color:#FFF;white-space: nowrap;padding: 0px 7px;}
.searchshow{display: block;};
#periodYearEnd{width:50px;}

